@media screen and (min-width: 992px) {
  .sidenav {
    padding-top: 64px;
    z-index: 0;
  }

  .container {
    padding-left: 300px;
  }
}

li div.collapsible-body {
  padding: 0;
}

li div.collapsible-body .collection .collection-item {
  padding-left: 3rem;
}

.black[type="checkbox"].filled-in:checked + span:after{
     border: 2px solid #000000;
     background-color: #000000;
}

#signInDropdown li a:hover,
#signInDropdown li:hover{
  background-color:inherit;
}

/*Edit input formatting*/

/* label color */ 
label {
  color: #000 !important;
}

/* label focus color */

input[type=text]:focus+label,
input[type=password]:focus+label,
.materialize-textarea:focus+label{
  color: #000 !important;
}

/* label underline focus color */

input[type=text]:focus,
input[type=password]:focus,
.materialize-textarea:focus{
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* icon prefix focus color */

.prefix.active {
  color: #000 !important;
}