@media screen and (min-width: 992px) {
  .sidenav {
    padding-top: 64px;
    z-index: 0;
  }

  .container {
    padding-left: 300px;
  }
}

li div.collapsible-body {
  padding: 0;
}

li div.collapsible-body .collection .collection-item {
  padding-left: 3rem;
}

.black[type="checkbox"].filled-in:checked + span:after{
     border: 2px solid #000000;
     background-color: #000000;
}
